<script setup></script>
<template>
    <div class=" relative bg-pale-blue h-[750px] md:h-[800px]">
        <div>
            <img class="md:hidden" src="../assets/images/pattern-background-mobile.svg" alt="background-image" />
            <img class="hidden md:block" src="../assets/images/pattern-background-desktop.svg" alt="background-image">
        </div>

        <div class="absolute -mt-28 mx-6 md:-mt-80 md:mx-96">
            <div class="h-[567px] w-[327px] place-self-center rounded-xl bg-white md:w-[450px] md:h-[650px]">
                <div>
                    <img class="rounded-t-xl" src="../assets/images/illustration-hero.svg" alt="hero-img">
                </div>
                <div class="my-8 mx-6 flex flex-col gap-5 text-center md:justify-center md:items-center">
                    <h2 class="text-2xl font-black text-dark-blue md:text-[28px]">Order Summary</h2>
                    <p class="w-[263px] text-[15px] text-desaturated-blue md:w-[354px] md:text-base md:font-medium">You can
                        now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!</p>
                    <div
                        class="w-[279px] h-[81px] flex justify-evenly items-center bg-very-pale-blue rounded-[11px] md:w-[354px] md:h-[98px]">
                        <div class="flex gap-3">
                            <img src="../assets/images/icon-music.svg" alt="music-icon">
                            <div class="flex flex-col text-sm md:text-base">
                                <h3 class="font-black text-dark-blue">Annual Plan</h3>
                                <h6 class="font-medium text-desaturated-blue">$59.99/year</h6>
                            </div>
                        </div>
                        <a href="#"
                            class="w-[52px] text-[13px] text-bright-blue font-bold underline hover:text-blue hover:no-underline hover:text-[15px] md:text-sm">Change</a>
                    </div>
                    <div class="flex flex-col gap-3">
                        <button
                            class="w-[279px] h-[50px] rounded-[11px] bg-bright-blue text-white font-black text-[15px] cursor-pointer hover:bg-blue md:w-[354px]">Procced
                            to Payment</button>
                        <button
                            class="text-[15px] font-black text-desaturated-blue cursor-pointer hover:text-dark-blue">Cancel
                            Order</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>