<script setup>
import CardComponent from './components/CardComponent.vue';
</script>

<template>
  <div class="md:min-w-[48rm] min-w-[20rem] font-RedHeartDisplay">
    <CardComponent />
  </div>
</template>

<style scoped>
</style>
